body {
  font-family: 'Noto Sans';
}

a {
  color: #000;
}

a:hover {
  color: #555;
}

div.toc {
  border: 1px solid #000;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  background-color: #eee;
}

div.toc p {
  margin: 5px 0 5px 0;
}

div.toc dl {
  margin: 5px 0 5px 0;
}

div.section {
  border: 1px solid #000;
  border-radius: 5px;
  margin: 10px;
  /* padding: 0; */
  padding: 10px;
  background-color: #eee;
}

div.section h2 {
  /* margin-left: 10px;
  margin-right: 10px; */
}

table {
  border-collapse: collapse;
  /* margin-left: auto;
  margin-right: auto; */
}

col.word-col1 {
  width: 60px;
}

col.word-col2 {
  width: 120px;
}

col.word-col3 {
  width: 500px;
}

col.char-col1 {
  width: 40px;
}

col.char-col2 {
  width: 70px;
}

col.char-col3 {
  width: 40px;
}

col.char-col4 {
  width: 150px;
}

col.char-col5 {
  width: 250px;
}

col.char-col6 {
  width: 400px;
}

col.rad-col1 {
  width: 40px;
}

col.rad-col2 {
  width: 40px;
}

col.rad-col3 {
  width: 40px;
}

col.rad-col4 {
  width: 70px;
}

col.rad-col5 {
  width: 120px;
}
